name: dotnet package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
  
      - name: Setup dotnet '8.0.x'
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Display dotnet version
        run: dotnet --version

      - name: Test with dotnet
        run: dotnet test --logger trx --results-directory "TestResults-8.0.x"

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tests-results
          path: |
            "TestResults-8.0.x"
