name: dotnet package

on: [push]

jobs:
  test-and-compile:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
  
      - name: Setup dotnet '8.0.x'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Display dotnet version
        run: dotnet --version

      - name: Test with dotnet
        run: dotnet test --logger trx --results-directory "./tests-results"

      - name: dotnet publish  
        run: |  
          dotnet publish -c Release -o './publish/App_Data/Jobs/Triggered/${{ env.WEBJOB_NAME }}' ${{ env.PROJECT_ROOT }} 

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tests-results
          path: |
            "./tests-results"
            "./publish"
